body{
    margin:0;
    background-color: rgb(36, 36, 36);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background: linear-gradient(90deg, rgb(59, 24, 102) 31%, rgb(223, 66, 66) 82%);
    color: rgb(245, 94, 94);
}
li{
    font-size: 2rem;
}
#bar{
    background: linear-gradient(90deg, rgb(59, 24, 102) 31%, rgb(223, 66, 66) 82%);
    border: rgba(0, 0, 0, 0) solid 0.1px;
}
.sspace{
    margin-top: 1rem;
}

.lspace{
    margin-top: 5rem;
}

#mid{
    margin: 0.5rem;
    border: none 1px red;
    margin-left: 1rem;
    margin-right: 1rem;
}

.a{
    text-decoration: none;
    color: rgb(245, 94, 94) !important;
    font-size: 1.5rem;
}

.a:hover{
    color: rgb(136, 62, 62) !important;
}

p{
    color: rgb(196, 196, 196);
}



#showc{
    border: none 1px red;
    background-color: rgb(51, 51, 51);
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}

img{
    width:300px;height:450px;
    border-radius: 0.5rem;
}

#center{
    border: none 1px rgb(73, 231, 0);
    margin-left: 15.1rem;
    margin-right: 15.1rem;
}

.spacer{
    margin: 1.6rem;
    background-color: black;
    /* es ieliku melnu background-color jo vainu ieejot lapā vai refrešojot atēlim ir kāda pus sekunde kamēr ielādējas 100% */
}

.box{
    border: 1px rgb(255, 106, 0) none;
    margin-top: 5rem;
    margin-left: 17rem;
    margin-right: 17rem;
}







div{
    border: none 1px red;
}

.nspecial{
    width:300px;height:170px;
    border-radius: 0.5rem;

}

.line{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: solid 1px gray;
}

.smallbtext{
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(245, 94, 94);
}

.smallbtext:hover{
    cursor: pointer;
    color: rgb(136, 62, 62);
}

#sbox{
    border-radius: 1rem;
    background-color: rgb(51, 51, 51);
    border: 1px rgb(255, 106, 0) none;
    margin-top: 5rem;
    margin-left: 17rem;
    margin-right: 17rem;
}

#alll{
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#carouselExampleIndicators{
    display: none;
}

#yews{
   margin-right: 5rem;
}


#titletext{

    font-size: 1.3rem;
    font-weight: bold;
}

.myc{
    margin-top: 5rem;
}
/*insert page*/



.inputstile{
    border-radius: 0.5rem;
   
}

.msp{
    margin-top: 10rem;
}

#mgr{
    margin: 10rem;
}

#largediv{
    padding-right: 20rem;
    padding-left: 20rem;
}

.insertbutton{
    font-size: 1.8rem;
    background-color: #ffffff00; 
    border: none;
    color: rgb(245, 94, 94);;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.insertbutton:hover{
    color: rgb(136, 62, 62);
}

.largebox{
    height: 20rem;
}

/* prieksh statick rew*/

.cborder{
    margin: 5rem;
    margin-left: 12rem;
    margin-right: 12rem;

}

.statcon{
    font-size: large;
    background-color: #ffffff00; 
    border: none;
    color: rgb(245, 94, 94);
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: underline;
}

.statcon:hover{
    color: rgb(136, 62, 62);
}

.stattitle{
    color: rgb(245, 94, 94);
    font-size: 2rem;
    margin-top: 2rem;
}

.statunder{
    margin-top: 3rem;
}

.statncolor{
    color: rgb(136, 62, 62);
}

.statimg{
    width:1500px;height:750px;
    border-radius: 0.5rem;
}

.statline{
    border: solid 1px gray;
}

.stattext{
    margin-right: 33rem;
}

.statcline{
    border: solid 1px rgba(245, 94, 94, 0.562);
}

.stattitlesub{
    color: rgb(245, 94, 94);
    font-size: 1.5rem;
}

.scolorer{
    color: rgb(245, 94, 94);
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

polygon{
    background-color: aqua;
    color: aquamarine;
}

.ssizer{
    font-size: 2rem;
}

.scu{
    text-decoration: dotted;
    color: rgb(201, 54, 54);
}

/**/
.range-wrap {  
    position: relative;
    margin: 0 auto 3rem;
    
  }
  .range {
    width: 100%;
  }
  .bubble {
    background: rgb(245, 94, 94);
    color: white;
    padding: 4px 12px;
    position: relative;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
  }
  .bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: red;
    top: -1px;
    left: 50%;
  }
  
/**/


.rez{
    margin-top: 1rem;
    margin-left: 0.5rem;

}





#hexagon {
    width: 100px;
    height: 55px;
    background: #fc5e5e;
    position: relative;
    margin: 10px auto;
}

#hexagon:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #fc5e5e;
}

#hexagon:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #fc5e5e;
}

.hexa{
    font-size: 2rem;
}

.sdo{
    margin-top: 2rem;
}