@media screen and (max-width : 855px)
        {
            .box{
            border: red 1px solid;
            margin-left: 10rem;
            margin-right: 10rem;

        }
        }

@media screen and (max-width : 633px)
        {
            .box{
            border: rgb(0, 255, 55) 1px solid;
            margin-left: 1rem;
            margin-right: 1rem;

        }
        }

@media screen and (max-width : 855px)
        {
            #mid{
                border: solid 1px rgb(0, 255, 234);
                float: none;
                display: block;
                text-align: left;
                width: 100%;
                margin: 0;
                padding: 14px;
        }

        }


        